@import url('microfrontend/auth/src/blocks/auth-form/__title/auth-form__title.css');
@import url('microfrontend/auth/src/blocks/auth-form/__form/auth-form__form.css');
@import url('microfrontend/auth/src/blocks/auth-form/__input/auth-form__input.css');
@import url('microfrontend/auth/src/blocks/auth-form/__textfield/auth-form__textfield.css');
@import url('microfrontend/auth/src/blocks/auth-form/__button/auth-form__button.css');
@import url('microfrontend/auth/src/blocks/auth-form/__text/auth-form__text.css');
@import url('microfrontend/auth/src/blocks/auth-form/__link/auth-form__link.css');

.auth-form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}