@import url('./blocks/header/header.css');
@import url('./blocks/vendor/fonts.css');
@import url('./blocks/vendor/normalize.css');
@import url('./blocks/content/content.css');
@import url('./blocks/page/page.css');
@import url('./blocks/places/places.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/card/card.css');