@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/content/content.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_is-opened/popup_is-opened.css');
